<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>



<main>

  <div class="container">
    <h2><%= username %>'s Calendar</h2>
    <p></p>
    <h4 class="text-center">
        <form action="/calendar" method="GET">
            <button name="week" value="<%= parseInt(weeknum)-1 %>" type="submit" class="btn" style="border-color: black;"><</button>  Week of <%= weeknum %> <button name="week" value="<%= parseInt(weeknum)+1 %>" type="submit" class="btn" style="border-color: black;">></button></h4>
        </form>
    <p></p>
    <div class="container">
        <div id="calendar" class="row" style="column-gap:20px;height: 450px; row-gap:20px">

            <% 
                const CALENDAR_DAYS = [
                "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"
                ];
    
                var res = '';
                CALENDAR_DAYS.forEach(day => {
                  res +=  '<div class="card" style="width:150px; border-color:black"><div class="h6 text-center position-relative py-2">' + day + '</div><div class="meal-container">';
                  res += '</div></div>';
                });%>
              <%- res %>
        
        </div>

    </div>
    <p></p>
    
  </div>

</main>

<%- include ('../partials/footer') %>