<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>
  <div class="container">
    <h1>Home Page</h1>
	<h2><centre>Welcome User : <%= username %></centre></h2>
</main>

<%- include ('../partials/footer') %>