<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>
  <div class="container">
    <h1>Recipe Book</h1>
	<h2><centre>Welcome User : <%= username %></centre></h2>
    <form action="" method="GET">
        <input name="recipe_name" type="text">
        <input type="button">
    </form>


</main>

<%- include ('../partials/footer') %>